
{deps, [
    {rebar_skip_deps, ".*", 
        {git, "http://github.com/hyperthunk/rebar_skip_deps.git"}},
    {kvc, ".*",
        {git, "git://github.com/etrepum/kvc.git"}},
    {gproc, ".*", {git, "http://github.com/esl/gproc.git", "master"}}
]}.

{skip_dep_cmds, [ct]}.
{erl_opts, [warnings_as_errors]}.
