
{ct_dir, "itest"}.
{cover_enabled, true}.
{clean_files, ["logs"]}.

{skip_dep_cmds, [ct]}.

{deps, [
    {rebar_skip_deps, ".*", 
        {git, "http://github.com/hyperthunk/rebar_skip_deps.git"}},
    {gproc, ".*", {git, "http://github.com/esl/gproc.git", "master"}},
    {meck, "0.7.1", 
        {git, "https://github.com/eproxus/meck.git", "master"}},
    {hamcrest, ".*", 
        {git, "http://github.com/hyperthunk/hamcrest-erlang.git", "master"}},
    {proper, ".*", 
        {git, "http://github.com/manopapad/proper.git", "master"}}
]}.
