
%% test configuration
{lib_dirs, ["../.."]}.
{erl_opts, [fail_on_warning]}.
{cover_enabled, true}.
{clean_files, ["logs"]}.
{deps, [
    {meck, "0.5.1", {git, "https://github.com/eproxus/meck.git", "master"}},
    {hamcrest, ".*", {git, "http://github.com/hyperthunk/hamcrest-erlang.git", "master"}},
    {proper, ".*", {git, "http://github.com/manopapad/proper.git", "master"}}
]}.
